html {
	background-color: white;
	background-image: none;
	color: black;
	font-family: helvetica, arial, serif;
	text-align: center;
}
@media screen and (min-width: 751px) {
	html {
		background-color: white;
		background-image: url('images/background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		color: black;
		font-family: helvetica, arial, serif;
		text-align: center;
	}
}
p{
	font-size: 1.5em;
}
table {
	text-align: left;
}
a {
	color: #333333;
	text-decoration: none;
	transition: color .5s;
}
a:hover {
	color: #aaaaaa;
	text-decoration: underline;
}
.container {
	width: 850px;
	margin: auto;
}
.row2{
	display: flex;
	justify-content: space-between;
}
.moon {
	width: 50px;height: 50px;
}
.favSeries {
	width: 425px;height: 239px;
}
.moreVids {
	display: flex;
	justify-content: space-around;
}
.underArt {
	display: flex;
	justify-content: space-between;
}
/*Applies to Art*/
.logo {
	width: 122px;height: 150px;
}
.logo2 {
	width: 103px;height: 150px;
}
.logo1 {
	width: 155px;height: 141px;
}
.comic {
	width: 144px;height: 150px;
}
/*Applies to Game Page*/
.games {
	display: flex;
	justify-content: space-around;
}
.minecraft, .mec, .holmes, .spore, .aCity, .dS, .rl, .civ, .gm, .p2, .sky, .ss, .sp, .limbo, .abzu {
	width: 250px;height: 352px;
	transition: width 1s, height 1s;
	transition-delay: .2s;
}
.minecraft:hover, .mec:hover, .holmes:hover, .spore:hover, .aCity:hover, .dS:hover, .rl:hover, .civ:hover, .gm:hover, .p2:hover, .sky:hover, .ss:hover, .sp:hover, .limbo:hover, .abzu:hover{
	width: 300px;height: 422px;
}